<%if session[:user]%>
<meta http-equiv="refresh" content="0; url=http://localhost:3000/" />
<%else%>
<% provide(:title, "Sign in") %>

    <% if flash[:danger] %>
        <div class="danger" style="color: #cc0000"><%= flash[:danger] %></div>
    <% end %>
<div class="row">
<div class="col-md-6 col-md-offset-1">
  <h4>Welcome to the Library</h4>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <h1 align="left">Sign in</h1>
    <br><br>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email  %>
      <%= f.text_field :email, :class => 'textbox1 '%><br>
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'passwordbox1 '%><br><br>
      <%= f.submit "Sign in", class: "btn" %>
    <% end %>
    <p>New user?<b> <%= link_to "Sign up now!", signup_path, :style=>"color:#0000FF"%></b></p>
  </div>
</div>

<%end%>
