<%if session[:user]%>
<meta http-equiv="refresh" content="0; url=http://localhost:3000/" />
<%else%>
<% provide(:title, "Sign in") %>



<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <h1 align="left">Sign in</h1>
    <br><br>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>
      <%= f.submit "Sign in", class: "btn btn-large" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<%end%>
<% if flash[:danger] %>
    <div class="danger" style="color: #cc0000"><%= flash[:danger] %></div>
<% end %>