<%= form_for @user  do |u| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, 'error') %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= u.label :Firt_Name %><br>
      <%= u.text_field :fname %>
    </p>

    <p>
      <%= u.label :Last_Name%><br>
      <%= u.text_field :lname %>
    </p>

    <p>
      <%= u.label :email_id %><br>
      <%= u.text_field :emailid %>
    </p>



    <p>
      <%= u.label :Security_Question %><br>
      <%= u.text_field :securityq %>
    </p>

    <p>
      <%= u.label :Answer %><br>
      <%= u.text_field :ans %>
    </p>

    <p>
      <%= u.submit %>
    </p>
<% end %>
