<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<!p>
  <!strong><!/strong>
  <!%= @user.password %>
<!/p>

<!p>
  <!strong><!/strong>
  <!%= @user.is_admin %>
<!/p>

<!%= link_to 'Edit', edit_user_path(@user) %>
<% if isadmin%>
<%= link_to 'Back', users_path %>
<% else %>
<%= link_to 'Sign In', signin_path %>
<%end%>