<% @user = User.find_by_email(current_user[:email])%>

<div class="btn-group btn-group-justified" role="group" aria-label="...">

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to 'Home ', home_index_path %></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to 'View/Edit Profile ', edit_user_path(@user) %></button>
  </div>
  <%if isadmin%>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to 'Manage Admins/Users ', users_path %></button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to 'Manage Books ', books_path %></button>
      </div>
  <%end%>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to "Sign out", signout_path%></button>
  </div>
</div>
  <div class ="container" align="center">

<h3 align="left">Welcome
<%=session[:user]['email']%>
<%=session[:password]%>
</h3>
<h2></h2>

<p>Enter the book name/ isbn/ author to serach the book</p>
  <!%= form_for :search, url: search_path do |f| %>
  <!p>
    <!%= f.text_field :search %>
    <!%= submit_tag "search", :name = nil %>
    <!%= f.submit "search", class: "btn btn-large btn-primary" %>
  <!/p>
<!% end %>

  <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <!%= label_tag(:query, "Search for:") %>
    <input type="text" name="search" id="search" class="textbox1"/>
    <input type="submit" name="commit" value="Search" />
  </form>

<% if !isadmin %>

<h1>Books Checked Out</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= link_to 'Return', book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%end%>
    </div>