<%= form_for @history  do |f| %>

    <% if @history.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@history.errors.count, 'error') %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @history.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :book_id, 'Book ID' %><br>
      <%= f.text_field :book_id %>
    </p>

    <p>
      <%= f.label :user_id , 'User ID)' %><br>
      <%= f.text_field :user_id %>
    </p>

    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
