<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<% @book = Book.find(params[:id])%>
<% if !@book.status %>
    <%if current_user[:email] != @book.email && !isadmin%>
        <%= link_to 'Send me notification when returned', send_notification_path(@book)%>|
    <%else%>
        <%= link_to 'Return', checkin_book_path(@book) %> |
    <% end %>
<% end %>

<% if (!isadmin) && ((current_user[:email] == @book.email) || (@book.email == nil))%>
<% if @book.status %>
<%= link_to 'Checkout', checkout_book_path(@book) %> |
<%end%>


<% else %>
    <% if @book.status && :users.length != 0 %>
    <%= form_for :users,url: checkout_book_path do |f| %>
            <%= label_tag(:user, "Checked Out To This Library Member") %>
            <%= select_tag(:user, options_for_select(@users, @users.length)) %>
            <br>
        <%= submit_tag('Checkout') %>
    <% end %>
    <%else%>
        <%if (isadmin)%>
        <%= link_to 'Return', checkin_book_path(@book) %>|
        <%end%>
    <%end%>
<%end%>
<%= link_to 'Home', root_path %>
